@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&display=swap'); /* font-family: 'Hahmlet', serif; */


/* body {
  background-image:url("../image/bg3_3.png");
  background-size:cover;
  font-family: "Silkscreen", cursive;
  -webkit-font-smoothing: none;
  height: 100vh;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
} */


* {
  font-family: "IBM Plex Sans KR";
  justify-content: center;
  font-weight: normal;
  line-height:200%;
}

button {
  font-family: "Silkscreen", cursive;
}

.btn {
  margin: 0 0 0 4px;
  padding: 0 3px 0 0;
  font-size: 16px;
  width: 30px;
  height: 30px;
  background: #ffcdfa;
  border: none;
  border-radius: 0;
  box-shadow: -3px 0px #fff, 0px -3px #fff, 3px 0px #353535, 0px 3px #353535, inset -4px -4px #ff98f5;
}
.btn_auto {
  font-family: "Silkscreen";
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 40px;
}

.window { /*전체 창*/
  position: relative;
/*   padding: 6px; */
  width: 98vw;
/*   max-width: 800px;
  min-width: 450px; */
  background-color:#ffcdfa;
  box-shadow: 3px  0px #353535, 0px  3px #353535, -3px  0px #FFF, 0px -3px #FFF;
}
/*   box-shadow: 3px 0px #cce5ff, 
  0px 3px #cce5ff, 
  -3px 0px #fff #dbffff, 
  0px -3px #fff #dbffff;; */

.window::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: rgba(34, 46, 44, 0.1) 0 2px 2px, rgba(34, 46, 44, 0.1) 0 10px 10px, rgba(34, 46, 44, 0.1) 0 18px 18px, rgba(34, 46, 44, 0.1) 0 26px 26px, rgba(34, 46, 44, 0.1) 0 34px 34px, rgba(34, 46, 44, 0.1) 0 42px 42px;
}

.title-bar { /*제목*/
  background-color: #a5a5ff;;
/*   padding: 2px 8px 0 6px;  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3px 0 3px;
  opacity:0.9;
}
.title-bar__title {/*제목 글자*/
  padding: 10px;
  color: #fff;
}
.title-bar__controls {
  display: flex;
}
.title-bar__controls > *:last-child {
  margin-left: 8px;
  font-size: 22px;
/*   padding-bottom: 4px; */
}

.menu { /*메뉴바*/
  padding: 14px 6px 0px 30px;
  margin-bottom:-7px;
}
.menu__item {
  display: inline-block;
  margin-right: 5px;
}
.menu__item::first-letter {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.container1 {
  padding: 20px;
  margin: 3px;
}

.display { /*글쓰는 공간*/
  font-family:"IBM Plex Sans KR";
  padding:0.5rem 1rem;
/*   max-width: 750px;
  min-width: 650px;
  max-height: 50px;
  min-height: 400px; */
  position: relative;
  
/* background: white; */
/* background:black; */
/* background: linear-gradient(45deg, #FFFFCC , #FFF3F9, #C8F9FE); */

/* padding:1.6rem 2rem 0 2rem; */
/* margin:0.5rem; */
/* overflow: hidden; */
  border-top: 2px solid /* #cce5ff; */ black;
  border-left: 2px solid /* #cce5ff; */ black;
  box-shadow: 2px 0px #ffcce5, 0px 2px #ffcce5;
}

.display > span {
  font-family: "IBM Plex Sans KR";
  position: relative;
  line-height: 30px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: black;
  white-space: nowrap;
}
.display > span::before, .display > span::after {
  position: absolute;
  content: attr(data-track);
}
.display > span::before {
  right: calc(100% + 30px);
}
.display > span::after {
  left: calc(100% + 30px); 
}
@-webkit-keyframes scrolling {
  0% {
    transform: translateX(calc(-100% - 30px));
  }
  100% {
    transform: translateX(calc(100% + 30px));
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(calc(-100% - 30px));
  }
  100% {
    transform: translateX(calc(100% + 30px));
  }
}

.controls { /* pre, next 버튼 */
 padding-top: 0.2rem; 
 padding-bottom: 0.2rem; 
 margin-right:0.4rem;
  text-align: right;
}